[2020-12-12 12:00] Eigh18n opened #1 "关于公招功能的功能与接口分享"
### 或许可以让Amy增加一个公招分析功能？
我自己找了一个**公招分析的数据接口**
但是，**我不会写qaq**
_（菜鸡爬了）_
这里希望Amy能实现这个功能

## 接口
https://www.bigfun.cn/static/aktools/【最新版本】/data/akhr.json
其中的**最新版本**要从[bigfun明日方舟工具箱](bigfun)获取
我使用正则来获取
`<script src="/static/aktools/(\d+)/js/runtime-es2015.js" type="module">`

## 想法
因为一般玩家对公招三星的结果不感兴趣
或许功能应该返回**必出四星的tags组合**？

## 补充
在2020/12/12晚7点时
最新版本为1604978022

[bigfun]: https://www.bigfun.cn/tools

[2020-12-12 13:36] Eigh18n commented on #1
不用去重，mysql里我记得有个in方法，就是一个tag在不在这个数组里，实在不行用like也行，最后遍历所有tag的结果集求个内链接
——群大佬『鹤望兰号』（412459523）

[2020-12-14 05:23] vivien8261 commented on #1
@Eigh18n
公招功能一直鸽其实是因为不知道怎么让用户去使用，昨天想想，用 [图像识别](https://cloud.baidu.com/doc/OCR/s/7kibizyfm) 解决了<br>
关于怎么查询，其实用like就可以解决了，识别出tags的列表之后，生成类似以下的sql

[code]

然后再分析结果就行，新的数据库结构等下会更新到release

[2020-12-14 05:23] #1 closed

[2021-02-19 10:55] Nirvana-Chen opened #2 "TypeError: 'NoneType' object is not subscriptable"
OS: ubuntu 18.04 aliyunserver
python version: 3.7.5
mysql version: 8.0.23 for Linux on x86_64 (MySQL Community Server - GPL)
mirai: 自部署，使用mcl工具独立运行，并安装`mirai-api-http`

已完成资源导入，依赖安装，config也已修改为本机配置，第四步时出现如下问题

[code]

[code]

[2021-02-19 11:01] vivien8261 commented on #2
现在还需要导入 [基础配置](https://github.com/vivien8261/Amiya-Bot-resource/blob/master/%E6%95%B0%E6%8D%AE%E5%BA%93/config.sql) 的sql文件，原来是读取json文件的，现在改为存到数据库里方便远程修改

[2021-02-19 11:03] Nirvana-Chen commented on #2
这部分内容也正确导入到mysql了

[2021-02-19 11:09] vivien8261 commented on #2
目前看来就是mysql查询不到数据产生的，尝试一下自己执行sql
[code]

[2021-02-19 11:15] Nirvana-Chen commented on #2
找到问题了，我把三个分别导入到对应名字的database了，于是现在遇到了新的问题
[code]

[2021-02-19 11:30] Nirvana-Chen commented on #2
已找到问题，需要修改`Amiya-Bot/modules/network/httpRequests.py`第37行中authKey与mirai-api-http中配置的authKey一致，不然无法通过websocket验证。

[2021-02-19 11:33] Nirvana-Chen commented on #2
对项目的一点建议：
希望能将authKey通过根目录的配置文件进行读取，避免不同的mirai初始化配置不同带来的问题
另，希望在资源部分说明config.sql和data.sql应该导入amiya数据库

[2021-02-19 11:52] #2 closed

[2021-03-07 04:43] Eigh18n opened #4 "AttributeError: 'Mysql' object has no attribute 'db'"
OS：Windows 10
Python version：Python 3.8.2
MySQL version：mysql-8.0.23-winx64
使用Mirai 2.4.0-MCL 1.0.5
config.json已配置与本机相符
数据全部导入到amiya库中，使用查询命令后有返回结果
[code]

在第四步报错
[code]

[2021-03-07 04:58] Eigh18n commented on #4
使用快速启动`quickStart.py`也遇到了报错
[code]

[2021-03-07 05:05] Nirvana-Chen commented on #4
是否可以提供一下你的config.json，请删除个人敏感信息

[2021-03-07 05:11] Eigh18n commented on #4
mirai-http-api的`setting.yml`
[code]
amiya的config.json
[code]

[2021-03-07 05:18] Nirvana-Chen commented on #4
请将amiya的config中`"server_ip": "0.0.0.0"`字段值更改为`127.0.0.1`，`0.0.0.0`仅能在服务器上使用，表示接受从任何ip地址发送的请求。为了安全起见建议将mirai的监听ip也更改为`127.0.0.1`。`127.0.0.1`表示本机地址，这样应该可以解决quickstart的问题，请修改后检查`python amiya.py`是否仍会报错。

[2021-03-07 05:24] Eigh18n commented on #4
更改为`127.0.0.1`后可以连接了，admin账号收到了`启动完毕`的消息，但是在群聊尝试发送命令时并无反应，控制台有接收消息。
在发送`启动完毕`消息后，控制台有报错消息，如下
[code]

[2021-03-07 05:35] Nirvana-Chen commented on #4
请将miral的setting中`enableWebsocket: false`的值改为`true`，本项目实际上是一个websocket客户端

[2021-03-07 05:49] Eigh18n commented on #4
成功了。`enableWebsocket`我改过一次，然后启动后命令行狂刷`Server not found.` ，于是改了回去。
看来教程又要改一下子了

[2021-03-07 05:49] #4 closed

[2021-03-11 02:16] vivien8261 opened #5 "简单的问题"
简单的不需要的新建issue的问题，可以在这里提问 (๑*◡*๑)

[2021-03-21 05:17] Eigh18n commented on #5
好耶！

[2021-03-28 17:06] TNXG commented on #5
有没有QQ群doge

[2021-03-29 02:32] vivien8261 commented on #5
@TNXG 362165038

[2021-04-25 15:39] nightmare-yudachi opened #6 "关于寻访凭证的获取数量"
请问修改日签到发放的寻访凭证的数量的配置文件在哪((

[2021-04-26 07:34] vivien8261 commented on #6
@nightmare-yudachi
[message/replies/greeting.py](https://github.com/vivien8261/Amiya-Bot/blob/master/message/replies/greeting.py) 第 9 行

[code]

[2021-04-26 09:23] nightmare-yudachi commented on #6
十分感谢

[2021-04-26 09:47] #6 closed

[2021-05-03 12:16] Goodjooy opened #7 "TypeError: 'NoneType' object is not subscriptable"
运行 `python amiya.py`时报错，
[code]

[2021-05-03 13:40] #7 closed

[2021-05-03 13:41] Goodjooy commented on #7
导入完整数据问题即解决

[2021-05-11 14:32] JMFANS opened #8 "是否考虑兼容cqhttp框架呢"
因为pcr相关bot都在使用cqhttp，所以使用一个框架会不会方便些ξ( ✿＞◡❛)

[2021-05-13 02:08] vivien8261 commented on #8
@JMFANS 现在比较关键的类都是依照 mah 来设计的，切换框架比较困难，如果是兼容 CQ 码的话可能还有希望实现

[2021-05-13 12:25] JMFANS commented on #8
![Screenshot_2021-05-13-20-21-35-775_com android chrome](https://user-images.githubusercontent.com/43535104/118125303-5fde6000-b429-11eb-8047-dc07f06b2893.jpg)

[2021-05-13 12:27] JMFANS commented on #8
mirai那边不是听不清楚是否兼容onebot的cq码

[2021-05-28 16:59] #8 closed

[2021-06-08 15:49] TNXG opened #10 "."
希望兔妈能够在项目根目录下加入存有当前版本号的文件

[2021-06-09 11:04] vivien8261 commented on #10
后面整理发布release吧

[2021-06-09 11:04] #10 closed

[2021-07-31 08:24] Hurricane35 opened #13 "运行amiya.py时报错"
求助大佬
PS C:\Files\lzy的bot\amiya\Amiya-Bot> python amiya.py
loading tags data...
Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\ADMINI~1\AppData\Local\Temp\2\jieba.cache
Loading model cost 1.474 seconds.
Prefix dict has been built successfully.
loading operators data...
loading materials data...
Traceback (most recent call last):
  File "C:\Files\lzy的bot\amiya

[2021-08-01 02:05] vivien8261 commented on #13
数据库需要导入配置表 [t_config_amiya.sql](https://github.com/vivien8261/Amiya-Bot-resource/blob/master/Database/Data/t_config_amiya.sql)

[2021-08-04 08:49] kirafishy opened #14 "执行amiya.py时报错TypeError: 'bool' object is not subscriptable"
具体日志如下：

[2021-08-04 09:06] #14 closed

[2021-09-04 16:28] nightmare-yudachi commented on #5
使用pip安装graiax-silkcoder时报错
ERROR: Could not build wheels for graiax-silkcoder which use PEP 517 and cannot be installed directly

[2021-09-04 17:52] Initial-heart-1 opened #18 "重启命令问题"
私聊重启关了就开不了了，直接贴日志
Amiya控制台日志

Amiya-Bot-master\Amiya-Bot-master>python amiya.py
[2021-09-05 01:10:22][Info] Starting AmiyaBot...
[2021-09-05 01:10:22][Info] Init http session: *******
[2021-09-05 01:10:22][Info] Release session: *******
[2021-09-05 01:10:22][Info] Checking update...
[2021-09-05 01:10:22][Info] Version is up to date: 21.7.0
[2021-09-05 01:10:24][Info] Building operator's materials

[2021-09-04 17:54] Initial-heart-1 commented on #5
https://stackoverflow.com/questions/64038673/could-not-build-wheels-for-which-use-pep-517-and-cannot-be-installed-directly
提issues前先善用互联网查找

[2021-09-04 17:56] Initial-heart-1 commented on #5
译：你确定你python版本是对的？
建议使用python3.7

[2021-09-05 11:57] vivien8261 commented on #5
windows 下安装需要电脑有 C 运行库或安装 vs build tools，这个暂时没找到其他解决方法

[2021-09-05 13:02] Initial-heart-1 commented on #5
az，我没装也行来着......

[2021-09-08 16:20] Initial-heart-1 commented on #13
@vivien8261 close issue

[2021-09-09 13:43] #13 closed

[2021-09-27 08:34] #5 closed

[2021-10-20 03:24] GodotL commented on #5
自己部署的兔兔每天的第一次签到都提示已经签完了是什么情况啊，俺这边的群友都说这个兔兔不保熟了（）

[2021-10-22 14:43] Initial-heart-1 opened #31 "亿些功能建议和小问题"
**由于本人措辞有问题，太皮了，导致一些误会，我的问题，我认，不会再做这样的事，谁都让他自己写格式去**

以下是部署项目近三个月以来收集的一些经用户反馈与我筛选认为需要优化的问题。

### 1.优化干员相关资料查询

#### 1.1 优化干员档案查询

现在，想要查询一个干员的档案需要的操作比较复杂，如果想要查询一个干员的所有档案资料是非常繁琐的，但单独查询大多数时候并没有意义。
建议由需要一项项查询档案改为一次性呼出。
从用户角度看，应该是这样：
阿米娅查看（干员名称）（档案标题）x N → 阿米娅查看（干员名称）的档案资料（**此处合并前 x N 次指令的输出结果**）

#### 1.2 优化干员立绘（皮肤）查询

如果想查询某干员的精一或精二立绘，可以直接使用“精一/精二”作为关键词而非现在的“精英一/精英二”，查询皮肤可直接使用皮肤名称检索而非先呼出阿米娅，查找皮肤列表后使

[2021-11-04 17:24] MistEO commented on #5
兔兔生气是不是没有做？好像`user_mood`只有读没有写来着

[2021-11-07 09:02] puzi12138 commented on #5
请问好几天签到都是已经签到，没有刷新是怎么回事

[2021-11-07 09:04] GodotL commented on #5
跟兔兔私聊【维护】进行手动维护，如果不是挂服务器的话那个每天早上四点自动维护的功能是没用的

[2021-11-07 09:05] puzi12138 commented on #5
多谢

[2021-11-07 09:06] puzi12138 commented on #5
再问一下加群加不进，申请好几天了

[2021-11-09 16:37] Initial-heart-1 commented on #5
确实没有做，万年33
当初我反馈群一堆用户刷了几千条，兔兔面不改色

[2021-11-14 03:14] Eigh18n commented on #5
大概率是tx屏蔽了你的申请，一般我放假时会去看的。

[2021-11-14 17:30] MistEO opened #38 "无法下载干员语音"
emmm不知道是不是我自己的问题。
这里的url，少了`http:`，导致后面语音下载失败。我试了下切到原版的上面也是同样的问题，手动加上`http:`之后就可以正常下载了

![image](https://user-images.githubusercontent.com/18511905/141691555-0d452326-55bc-4a59-b692-79b698d769c2.png)
![image](https://user-images.githubusercontent.com/18511905/141691664-f6d60d6b-a47c-4847-bf09-f8d7af6f2afb.png)

[2021-11-14 17:34] MistEO commented on #38
我的修改请参考 https://github.com/InvoluteHell/Amiya-Bot/commit/c2f79f3295f07c0ceea5f7a32b4cd8629dc32cca

[2021-11-14 17:35] fatinghenji commented on #38
同样存在语音加载问题，我以为是需要手动触发下载（

[2021-11-14 17:38] MistEO commented on #38
懂了，这就pr =。=

[2021-11-15 05:53] #38 closed

[2021-11-17 11:24] Hindleia opened #40 "亿点点功能"
1免兔计算狗粮功能
1.1 计算干员升级所需的狗粮和龙门币数量
输入0~90级需要多少高级/中级/低级/基础作战记录(后期可以简化关键字呼叫)输出需要12004 (瞎编的数字)高级作战记录
1.2换算狗粮之间的数量
输入兔兔1高级等于多少中级/低级/基础
输出计算结果(狗粮数量和龙门币数量)
2查询干员专三到一级技能数值,希望实现-个查看 -一个技能全部数值而且是一个图浏览输入查看单个技能数值
例如:兔兔查看42三技能数值
输出结果
三技能一级数值贴图
三技能二级数值贴图
三技能三级数值贴图
以此类推到专三
全部合并成一-图查看
3查看半个月之内的方舟频道热门前十视频
输入前十热门明日方舟视频个人认为缩写前十视频的关键词就可以了
输出前十视频名单
格式:标题+bv号
top1视频格式
top2视频格式
top3视频格式
以此类推
4兔兔关于干员生日功能的部分
4.1是查看这个月/这天干员生

[2021-11-17 13:41] Initial-heart-1 commented on #40
注意格式，建议使用 Markdown 格式化
另外，注意 GFM 与标准 Markdown 的区别
如果你认可，也可以关闭这个 issues，由我整合进我的 issues 中
另外，我想这本身就可以直接在我的 issues 下回复，而不是新开一个 issues，这在一定程度上导致了资源浪费

[2021-11-29 12:41] 1072324725 commented on #31
作者大大，为啥我这个兔子的签到不会刷新啊，第一天签到了，后面一直说已经签到了....

[2021-12-04 13:23] Initial-heart-1 commented on #31
你好，兔妈最近 007 ，我深感同情，这意味着原作者短时间内无法向你提供帮助，请加入 readme 下方的开发群，其他开发者也许可以帮助你，最后，提问务必附上日志！

[2021-12-04 13:23] Initial-heart-1 commented on #31
你好，兔妈最近 007 ，我深感同情，这意味着原作者短时间内无法向你提供帮助，请加入 readme 下方的开发群，其他开发者也许可以帮助你，最后，提问务必附上日志！

[2021-12-04 13:24] Initial-heart-1 commented on #31
以后这些问题请新开一个 issue 提问哦

[2022-01-08 16:38] fatinghenji opened #51 "最新版出现报错"
[code]

[2022-01-09 11:12] vivien8261 commented on #51
#50 已修复

[2022-01-09 11:12] #51 closed

[2022-01-14 04:30] vivien8261 commented on #18
已在新版本重写

[2022-01-14 04:30] #18 closed

[2022-01-17 01:27] nezumyao opened #52 "关于别名识别在部分功能中影响正常使用的问题"
兔兔添加到了第42号卡池，由于42被替换为史尔特尔，导致“兔兔切换42号卡池”的命令无法被正确识别到。

![img](https://user-images.githubusercontent.com/29001811/149687103-8872312f-8655-4b17-9004-ee51f51fe254.png)

[2022-01-17 11:35] vivien8261 commented on #52
目前没有很好的方法可以解决此问题，“42”属于常用一般词汇，而且还是数字，极容易发生冲突。

[2022-01-17 11:37] vivien8261 commented on #52
目前没有很好的方法可以解决此问题，“42”属于常用一般词汇，而且还是数字，极容易发生冲突。

[2022-01-21 16:26] Rovniced opened #53 "资源无法更新到最新"
私聊中输入 `强制更新` 后 依旧无法更新下载失败的资源文件
![QQ截图20220122001918](https://user-images.githubusercontent.com/52170460/150562817-f2dba8e0-e864-40bb-99b4-10e3e53ef2dd.png)

已有的资源文件似乎很旧
![2YUJ(A`~H V)I0$LR3~9GJ4](https://user-images.githubusercontent.com/52170460/150562881-aaf55a14-8051-4d5d-95d1-82466fd78575.png)

尝试手动从 https://github.com/yuanyan3060/Arknights-Bot-Resource 此处下载资源文件替换（似乎文件夹名字有点不一样，自己手动改了下），依旧不是最新版

[2022-01-22 01:18] vivien8261 commented on #53
因为更新服务器已经迁移到 cos，如果不是最近的版本，可能没办法更新到最新版。<br>
[最新版下载](https://cos.amiyabot.com/package/AmiyaBot-v4.1.4-fix-1.zip) <br>
最新版修改了数据的下载地址，可以尝试用这个。你直接下载 Arknights-Bot-Resource 仓库也是一样的。但是需要修改文件夹名

[2022-01-22 04:16] vivien8261 opened #54 "优化干员晋级材料查询"

[2022-01-22 04:18] vivien8261 opened #55 "实现BOX查询"

[2022-01-22 04:19] vivien8261 opened #56 "干员生日查询&推送"

[2022-01-22 04:28] vivien8261 commented on #40
已采纳部分建议建立 issue

[2022-01-22 04:28] #40 closed

[2022-01-22 04:29] vivien8261 commented on #31
已采纳部分建议建立 issue

[2022-01-22 04:29] #31 closed

[2022-01-25 07:23] dongrixinyu opened #57 "这个前端是拿什么框架开发的，挺清爽的"
这个前端是拿什么框架开发的，挺清爽的

[2022-01-27 13:30] Rovniced commented on #53
用的是最新版 无法更新

[2022-01-27 14:20] Initial-heart-1 commented on #57
你好，console 吗？
全部由 @vivien8261 完成

[2022-01-27 14:23] Initial-heart-1 commented on #53
有部分资源是缺失的，不需要管，不影响使用哈（比如干员信物啥的）
另外，不知道从哪个版本开始，已经不会自动同步卡池了，需要你自己通过 console 手动添加

[2022-01-27 14:25] Initial-heart-1 commented on #52
可以尝试引入中文数字解决
目前可以尝试直接输入卡池名称
@nezumyao

[2022-01-28 15:24] asdqp233 commented on #53
请问有添加方式的方法说明吗

[2022-01-30 10:55] Rovniced commented on #53
好的 已经解决 谢谢

[2022-01-30 10:55] #53 closed, assigned to nobody

[2022-02-08 08:37] vivien8261 commented on #57
console 使用 vue + elementUI 完成，可查看 [Amiya-Bot-console](https://github.com/AmiyaBot/Amiya-Bot-console)

[2022-02-08 08:37] #57 closed, assigned to nobody

[2022-02-11 10:40] vivien8261 commented on #52
已在别名识别审核时拒绝纯数字别名

[2022-02-11 10:40] #52 closed, assigned to nobody

[2022-02-15 03:37] #55 closed, assigned to vivien8261

[2022-02-15 03:37] #56 closed, assigned to vivien8261

[2022-03-09 00:34] chenjie1234567890 opened #58 "访问网页控制台报Internal Server Error错误"
操作系统:windows10
软件版本：AmiyaBot-v5.0.5.exe
启动方式：浏览器访问127.0.0.1:5000

错误日志：
[2022-03-09 08:32:56][INFO] Server.access - 127.0.0.1:6899 - GET / HTTP/1.1 500 Internal Server Error
[2022-03-09 08:33:01][INFO] Server.default - Exception in ASGI application
Traceback (most recent call last):
  File "uvicorn\protocols\http\h11_impl.py", line 364, in run_asgi
  File "uvicorn\middleware\proxy_headers.py", lin

[2022-03-10 14:07] chenjie1234567890 commented on #58
问题已解决，原因：缺少静态文件，重新下载即可

[2022-03-10 14:07] #58 closed, assigned to nobody

[2022-03-10 14:10] chenjie1234567890 opened #59 "网页控制台词语替换列表按时间逆序排列"
![image](https://user-images.githubusercontent.com/39559452/157678831-49885d36-698c-482a-87d6-ae650e7aab8d.png)
每次审核别名时都需要翻到最后一页

[2022-03-27 12:49] Initial-heart-1 opened #67 "[Bug]在 mysql 下 console 查询群组列表会出错"
在 Console 中回报了一个 500 错误（Internal Server Error）
在控制台中（已脱敏）：
[code]
在 phpMyAdmin 中直接执行相同的语句，报错与底部信息一致
此 Bug 可以稳定复现

MySQL 版本：8.0.28 - MySQL Community Server - GPL
协议版本： 10
数据库客户端版本： libmysql - mysqlnd 8.1.2

Amiya 版本：Clone 仓库，确定同步了最新的更改

[2022-03-27 12:53] Initial-heart-1 opened #68 "[Bug]在 mysql 下 console 查询群组列表会出错"
在 Console 中回报了一个 500 错误（Internal Server Error）
在控制台中（已脱敏）：
[code]
在 phpMyAdmin 中直接执行相同的语句，报错与底部信息一致
此 Bug 可以稳定复现

MySQL 版本：8.0.28 - MySQL Community Server - GPL
协议版本： 10
数据库客户端版本： libmysql - mysqlnd 8.1.2

Amiya 版本：Clone 仓库，确定同步了最新的更改

[2022-03-27 12:53] Initial-heart-1 commented on #68
网卡的炸裂
一连上 Github 就发了俩

[2022-03-27 12:53] #68 closed, assigned to nobody

[2022-03-30 07:54] #67 closed, assigned to nobody

[2022-04-15 04:06] chaggle commented on #5
请问您是否有考虑过优化查询明日方舟专精材料，类似于下图这种一次性给出多技能的从专一到专三的材材料？
![QQ图片20220415120525](https://user-images.githubusercontent.com/47071009/163516529-60add27b-2a4d-4667-92b6-11f1cf25c91d.jpg)

[2022-04-15 14:51] Initial-heart-1 opened #72 "建议简单记录每个用户的功能使用情况"
这有助于分析筛选恶意用户并将其拉黑
简单记录：指记下谁用了，用了什么，什么时候用的，（指定时间段内）用了几次

能直接筛出恶意用户就最好了，把数据显著高于平均值的置顶显示什么的

~~毕竟OCR是付费的，免费额度多的一批的兔妈感受不到我们的痛~~

[2022-04-15 16:10] Initial-heart-1 commented on #5
曾给出过提议，且已在 issues 内，处于 open 状态。（#54）

[2022-04-16 16:10] Initial-heart-1 opened #75 "建议优化干员数据查询"
貌似现在只能获得精二90级的数据
![image](https://user-images.githubusercontent.com/63091661/163682653-c264b749-c4c9-47fa-8090-b623c3c397d4.png)
所以建议添加一个新命令来查询精一和精二，不同等级，不同潜能的数据
数据来源似乎有很多，可以随便找一个

[2022-04-17 09:34] Initial-heart-1 opened #76 "建议优化操作逻辑"
现在很多功能需要也只能“两步走”，也就是先唤出列表再回复序号
建议是可以选择直接带上序号来一次查询
比如我要查莫斯提马的某档案，我可以直接用
`阿米娅莫斯提马档案[列表中的序号]`
而不是
`阿米娅莫斯提马档案`
`[列表中的序号]`
在相对大量的数据查询时，这会更加方便，也更节省资源

[2022-04-17 10:22] Initial-heart-1 opened #77 "Bug：有时会漏掉维护"
发生了什么一概不知，没有报错，但是就是漏了
天知道为什么，TMD
只知道没有维护完成的提示

[2022-04-23 12:43] FogFoge commented on #76
整的我想写了

在 2022-04-17 17:35:02，"Initial-heart" ***@***.***> 写道：

现在很多功能需要也只能“两步走”，也就是先唤出列表再回复序号
建议是可以选择直接带上序号来一次查询
比如我要查莫斯提马的某档案，我可以直接用
阿米娅莫斯提马档案[列表中的序号]
而不是
阿米娅莫斯提马档案
[列表中的序号]
在相对大量的数据查询时，这会更加方便，也更节省资源

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-04-23 12:47] FogFoge commented on #76
整得我想写了

[2022-04-24 12:41] Initial-heart-1 commented on #76
又没 Assignees，你写呗
冲着你这句话兔妈得给你上 Assignees

[2022-04-24 15:17] FogFoge opened #80 "Bug：疫情查询出现问题"
如题，疫情查询出现问题，目前确认问题在于疫情数据加载时（由于腾讯api格式问题，共两次json.loads，此次问题出现在第二次loads），正在尝试解决，在解决之前疫情查询功能可能不可用

[2022-04-25 04:49] Initial-heart-1 opened #81 "Bug：mysql 下同步卡池异常"
报错懒得脱敏，反正兔妈你知道的对吧
总之，问题还在，天知道为什么

[2022-04-29 02:17] #54 closed, assigned to vivien8261

[2022-04-29 17:40] SANaoi commented on #5
启动 AMIYA-BOT.EXE 最后出现[ERROR] Http <release> response: {'code': 3, 'msg': 'Session失效或不存在'} 可以在cmd里看见bot发出的消息及接收群友的消息 但就是发不到群里

[2022-04-30 14:48] FogFoge opened #83 "Bug：PaddleOCR使用出错"
如题，PaddleOCR使用出错

[2022-04-30 14:50] #83 closed, assigned to nobody

[2022-05-01 14:05] Initial-heart-1 opened #85 "建议添加更多小游戏"
现在的小游戏太少了，用户们都说不带劲
所以，多搞点（
比如，猜干员立绘模糊（
（其他小游戏我脑子不够用想不出来

[2022-05-01 14:08] Initial-heart-1 opened #86 "Bug：部分干员频繁的误识别"
比如年啊梅啊等等

[2022-05-01 14:08] Initial-heart-1 commented on #80
似乎已经修复，关掉谢谢

[2022-05-01 14:10] Initial-heart-1 opened #87 "建议将模组信息并入干员材料一图流中"

[2022-05-01 15:29] Initial-heart-1 opened #88 "建议提供一个攻略视频目录供用户使用"
就是查询某关的攻略，数据可以由用户提交管理员审核

[2022-05-01 15:30] Initial-heart-1 commented on #86
黑

[2022-05-02 10:58] #80 closed, assigned to nobody

[2022-05-02 11:11] Initial-heart-1 opened #89 "建议提供更多mah提供了接口的功能函数以便二次开发"
lm把刀架我脖子上让开的

[2022-05-02 12:22] Initial-heart-1 opened #90 "Bug：console 群组管理查询群号时报 HTTP 500 错误"
任何群号均可稳定复现此问题
未测试其他的选项是否会触发此问题

[2022-05-03 09:35] 2038964352 commented on #5
也遇到了相同的问题, 一开始的启动完毕可以发送, 但是信息只在cmd里面.

[2022-05-03 14:14] FogFoge commented on #89
不至于不至于，在写了在写了

[2022-05-04 11:15] FogFoge opened #91 "Bug：在运行amiya的时候出现Runtime Error"
![image](https://user-images.githubusercontent.com/62325603/166670348-68da0997-948c-46be-a97d-916bed57ce1b.png)

如图，Amiya-Bot-dev目录是从主仓库V5-master分支clone下来的，chromium已安装，版本信息如图，依赖已安装。

很离谱，今天上午在写新功能的时候一点事没有，然后等我尝试新建一个dev的git分支后，运行就出现了这个问题。然后我想看下主repo有没有这个问题，结果整下来，嘿，还是报错。

原因尚不清楚，在查询之后我认为是asyncio.run会自动关闭loop，当我尝试直接使用loop的run_until_complete时，更离谱了，Pycharm的exit code是1，也就是说虽然没有报错，但是程序异常终止了，btw？

附上报错信息：

[2022-05-04 12:26] FogFoge commented on #91
谢谢@Initial-heart-1 ，重启解决99%的问题

[2022-05-04 12:26] #91 closed, assigned to nobody

[2022-05-04 12:30] Initial-heart-1 commented on #91
这不明摆着的 user error
你还好意思交 issue，真有你的啊

[2022-05-04 12:54] FogFoge commented on #91
啊对对对

[2022-05-04 12:54] Initial-heart-1 commented on #91
你啊对对对个屁，我说的不对吗

[2022-05-09 02:33] chaggle opened #93 "ctrl + c 强行结束 amiya.py 后，无法返回 cmd/shell 界面"
如标题所示，下图是 pycharm 在 windows10 命令行下 ctrl + c  强行结束后，并未返回 cmd 界面。

在 linux 生产环境中，screen 新建一个sh socket ，ctrl + c 后，也无法返回 sh 进行 python amiya.py 的 在启动。

![image](https://user-images.githubusercontent.com/47071009/167330686-c0da562e-063b-42d2-8c32-a76f193730a0.png)
![image](https://user-images.githubusercontent.com/47071009/167330862-dc070312-59a7-4e25-a41c-0db0adedf670.png)

[2022-05-09 09:46] HYY1116 commented on #5
尝试将mirai-http-api回退至2.4.0，我这样成功解决了这个问题

[2022-05-13 11:31] Narushio commented on #5
兔妈，qq群怎么无了

[2022-05-13 11:33] Eigh18n commented on #5
我也刚想问，速速fork库

[2022-05-13 11:38] Narushio commented on #5
我猜兔妈做api测试把群直接整没了

[2022-05-13 12:01] MistEO commented on #5
被 tx 一锅端了

[2022-05-14 05:07] hongshiyu commented on #5
求问，无法连接websocket如何解决，是ws不再支持的原因吗

[2022-05-15 15:53] fatinghenji opened #95 "BUG:新增管理员提示"拒绝登录 用户无角色权限""

[2022-05-16 00:48] 02Alive opened #96 "AmiyaBot.exe部署后无法获取卡池"
同步卡池提示数据请求失败
纯萌新，求教

[2022-05-16 16:50] fatinghenji opened #97 "更新mirai后报错"
所有包含兔兔/阿米娅的命令都会报错，反而带有驴子的指令可以正常使用
![image](https://user-images.githubusercontent.com/37131177/168643459-d88cb2b0-d0d3-4aef-9744-48d529c32dac.png)

[2022-05-16 17:10] #97 closed, assigned to nobody

[2022-05-16 17:11] fatinghenji commented on #97
miraihttp连接错误

[2022-05-18 02:31] Tanulav opened #98 "部署了阿米娅之后不能用172.0.0.1配置了"
RT，config文件并没有动过，之前有两个版本忘记开了，今天开了更新之后就无法使用127.0.0.1
显示：127.0.0.1 拒绝了我们的连接请求。

[2022-05-18 02:31] Tanulav commented on #98
不过正常使用还是可以的

[2022-05-19 10:36] vivien8261 commented on #96
私聊”同步卡池“可以获取最新数据

[2022-05-19 10:36] #96 closed, assigned to nobody

[2022-05-19 10:37] vivien8261 commented on #95
新管理员需要配置权限，用超管登录后台在权限设置里添加角色和权限

[2022-05-19 10:40] 02Alive commented on #96
同步失败

[2022-05-20 13:24] Initial-heart-1 commented on #98
亲考虑检查mah

[2022-05-20 13:28] fatinghenji commented on #95
好的

[2022-05-20 13:28] #95 closed, assigned to nobody

[2022-05-20 13:30] Initial-heart-1 commented on #93
会等待任务完成后关闭，兔妈这么说过
但是我曾经把它扔在那里不管，然后出现了神奇的报错排查了半小时发现没关掉
建议直接强制关闭

[2022-05-20 14:47] Tanulav commented on #98
adapters:
  - http
  - ws
debug: false
enableVerify: true
verifyKey: AmiyaBot
singleMode: false
cacheSize: 4096
adapterSettings:
  http:
    host: 0.0.0.0
    port: 8080
    cors: [ * ]
  ws:
    host: 0.0.0.0
    port: 8060
    reservedSyncId: -1

[2022-05-20 14:48] Tanulav commented on #98
用的可执行文件部署的，似乎没有对这里进行过修改

[2022-05-22 07:41] Initial-heart-1 commented on #98
看一下端口是否被占用，方法百度
8080和8060是热门端口，容易出现端口占用

[2022-06-06 02:00] Ka5en opened #101 "QQ的ios端听不了语音"
rt，群里的苹果用户都这样。不知道是哪里的问题是否可以解决

[2022-06-06 08:47] vivien8261 commented on #101
暂时无法解决这个，所有iPhone都不可以，iPad和macOS没有问题

[2022-06-07 06:03] zzyss-marker opened #102 "按照部署步骤之后无法正常运行"
![图片](https://user-images.githubusercontent.com/65355156/172307135-d86687dd-f800-40ca-b0d3-012d97339a90.png)

[2022-06-08 14:37] WarfarinBloodanger commented on #98
建议检查后台 Amiya 是否被完整关闭，或者检查一些可能占用 8080 或 8060 端口的程序 / 服务比如 IIS，如果找不到问题或者问题无法解决，那么改变端口配置到别的不常用、非特殊端口上，比如 4080。

[2022-06-09 02:38] zzyss-marker opened #103 "配置config/Console/AutoLogin.yml之后，运行start.bat报错"
![图片](https://user-images.githubusercontent.com/65355156/172752376-7df3e0e2-36af-4150-9b8a-cd82993f5594.png)

[2022-06-09 13:30] Initial-heart-1 commented on #103
您好，mirai问题不要在这里反馈哈
我们提供一键包但不负责维护

[2022-06-10 05:24] Ka5en opened #104 "自动检查更新失败是为什么"
抱歉，纯萌新。很多东西不知道

![6)T0YW 2}{S 6QNY(H`UK7X](https://user-images.githubusercontent.com/106939528/172996010-30a3b35b-b408-4adb-b786-9cc5587de680.png)

[2022-06-13 01:32] vivien8261 commented on #104
不再提供更新检查服务了

[2022-06-13 02:20] HYY1116 commented on #104
原来的更新检查服务是怎么工作的，因为我一直没升级BOT，今天重启BOT的时候好像因为升级原因丢失了所有干员名之类的，所以想看看能不能自己搭一个本地的服务

[2022-06-17 14:44] Initial-heart-1 commented on #104
查阅源码。

[2022-07-02 02:57] BoBppy commented on #5
请问怎么主动授权群微博推送

[2022-07-02 07:19] Initial-heart-1 commented on #5
![image](https://user-images.githubusercontent.com/63091661/176990893-1bda9fc8-ea76-4d76-81db-ba1ff7b641b1.png)

此开关

[2022-07-21 18:27] YuYue-Amatsuki opened #111 "无法连接至mah"
如图，更改端口后仍然无法连接
![image](https://user-images.githubusercontent.com/86163024/180286831-9531aad5-c017-44b9-a98b-7b64e8e9fb27.png)

[2022-07-23 02:05] #111 closed, assigned to nobody

[2022-08-18 06:56] LeafLight opened #116 "“通过代码部署”中的资源挂了"
教程[”通过代码部署“](https://www.amiya.cn/docs/deployByCode.html#%E5%87%86%E5%A4%87%E5%A5%BD%E4%BD%A0%E7%9A%84-mirai-api-http)中[mirai-console-set-up](https://cos.amiyabot.com/tools/mirai-console-setup.zip)似乎挂了，手动配的话教程里的start.bat似乎是必要步骤。烦请大佬补上。

[2022-08-18 06:59] vivien8261 commented on #116
什么意思，教程明示是需要使用start.bat启动的

[2022-08-18 07:00] vivien8261 commented on #116
哦，setup包的cos关闭了，现在下载不了

[2022-08-18 07:02] LeafLight commented on #116
那么请问何时可以下载呢？

[2022-08-18 07:04] vivien8261 commented on #116
https://pan.baidu.com/s/1vjORyF2WO1c0kF32EfdScA?pwd=8261

[2022-08-18 07:06] LeafLight commented on #116
十分感谢！

[2022-08-18 07:06] #116 closed, assigned to nobody

[2022-08-20 17:54] fatinghenji opened #117 "请求更换本地ocr为cnocr，以解决opencv安装困难的问题"
如题，cnocr地址是：[CNOCR](https://github.com/breezedeus/CnOCR)  。
它不用装opencv，~它太好了~（我从V5某个版本开始折腾到现在都没装上paddleOCR要求的opencv-contribute-python这个依赖）

[2022-08-22 02:39] vivien8261 commented on #117
感谢，我测试一下适配性，新版本考虑加进内置模块

[2022-09-22 14:02] Lee0528Hub opened #120 "部署启动后部分功能（大多数功能）无法使用"
Task exception was never retrieved
future: <Task finished name='Task-33' coro=<WebsocketClient.handle_message() done, defined at /Ubuntu20.04/Amiya-Bot/core/network/mirai/websocketClient.py:92> exception=OSError('cannot open resource')>
Traceback (most recent call last):
  File "/Ubuntu20.04/Amiya-Bot/core/log.py", line 109, in catch
    yield
  File "/Ubuntu20.04/Amiya-Bot/core/network/mirai/webs

[2022-09-26 13:18] #120 closed, assigned to nobody

[2022-09-27 03:12] yorisona commented on #5
centos7.6 可以部署吗

[2022-09-27 03:13] vivien8261 commented on #5
不支持 centos

[2022-09-28 00:43] fatinghenji opened #121 "【已解决】由于浏览器拦截导致无法通过AmiyaBot Console进行bot的部署配置"
### 出现的问题
- Bot版本：`V6-dev da5e77a`
- Python版本：`3.8.14`
- config文件：
[code]
- 控制台输出：
[code]
- 操作步骤：
 1.使用`python amiya.py`命令启动
 2.网页访问部署端ip成功：
![image](https://user-images.githubusercontent.com/37131177/192661828-9a59d995-079b-466b-b61e-918d08e737b9.png)
 3.访问https://console.amiyabot.com ，并按照文档要求填写网址（192.168.123.96:8088）
 4.网页提示：服务器异常
![image](https://user-images.githubusercontent.com/37131177/19266

[2022-09-29 08:58] #121 closed, assigned to nobody

[2022-09-30 01:25] hsyhhssyy opened #122 "我想问一下，v5版本算是停止维护了吗？"
我自己用v5版本的bot，修改了里面一堆bug，还添加了一大堆功能比如从wiki获取图片，自动更新gamedata等等，但是我看你们似乎是迁移到v6那边去了？那我是应该也尝试迁移到v6吗？还是说你们v5这个版本还会维护或者增加功能？那我可以顺势把我的一些改动提交过来。

[2022-10-01 12:42] Initial-heart-1 commented on #122
您好，感谢您选择 Amiya-Bot！
首先，您希望为 Amiya-Bot 作出自己的贡献，我们始终乐于看到这样的事情发生，并欢迎您随时提交 Pull Request！
但敬请知悉：

- v5 现仍是 Amiya-Bot 的“生产版本”。
- 我们没有计划继续对 v5 进行维护，包括安全和兼容性方面。
- v6 相较于 v5，架构有极大改变，在 v6 版本，我们对 core 部分进行了整体重构，对于 v5 存在的问题进行了很多改进。
- v6 相较于 v5，仍不够完善，尽管我个人推荐您选择 v6，但对于大规模的生产环境，这也许不是很明智的。但若是个人的用途，您尽可大胆尝试。
- 若您希望将您在 v5 上的开发进度迁移至 v6，可能需要您重新阅读 AmiyaBot 的开发文档。您可以 [在这里](https://www.amiyabot.com/develop/basic/) 找到相关内容

[2022-10-01 18:46] Initial-heart-1 opened #125 "建议为console添加一个状态检查接口"
通过该接口可检查 Amiya-Bot 是否运行。这对于云端的状态监测十分重要。
只需要一个 20x 状态码，这十分简单

[2022-10-04 02:34] hsyhhssyy commented on #122
谢谢您的回复，不过QQ频道目前是内测，我还进不去.....
希望到时候更新插件功能的时候，您能在github上发一份guid

[2022-10-04 14:32] Initial-heart-1 commented on #122
guid 是什么？
另，记得通过上面的链接应该是可以直接加入内测的......

[2022-10-08 14:44] rhwong opened #127 "希望可以提供标准onebot对接方式"
不太清楚[mirai-api-http](https://github.com/project-mirai/mirai-api-http)是否属于onebot协议，看起来不像
希望可以提供标准onebot对接方式，这样可选择的登录端会更多，能够更好的和其他bot兼容
（刚把mirai换掉又要拾起来我直接痛苦面具了呜呜）

[2022-10-14 18:06] Initial-heart-1 commented on #122
您好！敬请注意：现在 V6 已经作为 AmiyaBot 的正式版发布！欢迎使用！

[2022-10-14 18:06] #122 closed, assigned to nobody

[2022-10-14 18:08] Initial-heart-1 commented on #127
您好，已提供 gocq 接入。您可以自行改动以连接至所有执行 OneBot v11 标准的适配器。另外，如果您改动，欢迎您提交 Pull Request！我们随时欢迎您的贡献！
感谢您对 AmiyaBot 的关注和支持！

[2022-10-14 18:08] #127 closed, assigned to nobody

[2022-10-14 18:08] Initial-heart-1 commented on #127
您好，已提供 gocq 接入。您可以自行改动以连接至所有执行 OneBot v11 标准的适配器。另外，如果您改动，欢迎您提交 Pull Request！我们随时欢迎您的贡献！
感谢您对 AmiyaBot 的关注和支持！

[2022-10-14 18:08] #104 closed, assigned to nobody

[2022-10-14 18:09] #103 closed, assigned to nobody

[2022-10-14 18:09] Initial-heart-1 commented on #101
已在最新版尝试修复。若仍存在请重新打开 issue。

[2022-10-14 18:09] #101 closed, assigned to nobody

[2022-10-14 18:09] #98 closed, assigned to nobody

[2022-10-14 18:10] #93 closed, assigned to nobody

[2022-10-14 18:10] Initial-heart-1 commented on #90
新的 console 正在编写故关闭

[2022-10-14 18:10] #90 closed, assigned to nobody

[2022-10-14 18:10] #89 closed, assigned to nobody

[2022-10-14 18:11] #88 closed, assigned to nobody

[2022-10-14 18:11] #87 closed, assigned to nobody

[2022-10-14 18:11] Initial-heart-1 commented on #86
目前最新版本已有明显改善

[2022-10-14 18:11] #86 closed, assigned to nobody

[2022-10-14 18:11] #85 closed, assigned to nobody

[2022-10-14 18:11] #81 closed, assigned to nobody

[2022-10-14 18:12] #77 closed, assigned to nobody

[2022-10-14 18:12] #76 closed, assigned to nobody

[2022-10-14 18:12] #72 closed, assigned to nobody

[2022-10-14 18:12] #75 closed, assigned to nobody

[2022-10-14 18:13] Initial-heart-1 commented on #59
新版 console 似乎已不存在该问题。若仍存在请重新打开 issue。

[2022-10-14 18:13] #59 closed, assigned to vivien8261

[2022-10-14 18:20] Initial-heart-1 commented on #125
@vivien8261

[2022-10-15 11:16] Arturia169 opened #129 "无法连接"
### 问题描述

无法连接到mirai-api-http
![image](https://user-images.githubusercontent.com/69199123/195983483-14588264-4be5-4148-83ee-0786c69f8fd4.png)

### 复现

启动就会这样

### Amiya-Bot 版本

v6

### 其他插件版本

无

### 日志

[code]

### 补充信息

_No response_

[2022-10-15 13:39] Initial-heart-1 commented on #129
请注意，这并不是一个 Bug，因为它并不是 AmiyaBot 引起的错误，它不应作为一个 Bug 提交。
尽管如此，我检查了你提交的 log。你提交的 log 显示这似乎是由于你的运行环境存在一些问题。你或许应该尝试更换一台设备重复操作来确认是否可以复现该问题。
如果该问题无法复现，那么请尝试重新配置 mirai 及 mirai-api-http。

[2022-10-15 13:39] #129 closed, assigned to nobody

[2022-10-15 14:06] Initial-heart-1 commented on #117
这个项目的确很好，不过**谁告诉你的它不用 OpenCV？**

而且，**它真的很重！**

参阅依赖树：

[code]

至于为什么说它重？参阅：

[code]

比项目本体目前的依赖树还要可怕得多，它对于 Amiya 真的太重了......当然，虽然我因为没装飞桨也没用过不知道它的依赖重不重，不过我想大致是半斤八两的。尽管如此，在都需要装 OpenCV 的前提下它与飞桨相比飞桨的模型可以爆杀它。

讲道理，跟图像沾了边的项目很难不用 OpenCV，因为它真的太好用了......

如果你有不同意见，可以重新打开这个 issue。

[2022-10-15 14:06] #117 closed, assigned to vivien8261

[2022-10-20 21:52] hsyhhssyy commented on #122
好的，谢谢您的提醒，我现在逐步把我bot的代码迁移到v6

[2022-10-20 23:37] hsyhhssyy opened #130 "插件商店是不是还没开放?"
### 功能描述

我过往V5写的一些有趣的小功能和小游戏，比如每日抽助理啊，骰娘啥的都已经陆陆续续迁移到v6了，不过目前插件商店还没开对吧，我看云端控制台按钮没做事件响应，而且商店里似乎还没有v5的那些功能以外的新功能。
PS：QQ频道的链接我确实进不去，如下图所示：
![IMG_9297](https://user-images.githubusercontent.com/5977110/197078363-d8597d1a-8d94-4c36-9235-28081917c691.PNG)

此外，我以前对V5的内置功能有一些微调，比如查询干员的时候，我给改成默认展示精二立绘了，现在这个功能以插件的方式提供了，是不是这些修改就没法操作了？插件是不是有自动更新？我本地的代码修改会被覆盖。

### 优点

我就是问一个小问题，功能我其实都做好了。

### 实现

_No respons

[2022-10-21 00:22] hsyhhssyy opened #131 "Playwright有潜在的OOM链式崩溃风险"
### 问题描述

我在k8s集群里跑amiyabot的时候，发现一个小问题，系统内存里驻留了大量的Chrome进程，观察运行情况，猜测是内存用尽，最后失去响应。

![image](https://user-images.githubusercontent.com/5977110/197080734-8417f9c9-1c3a-4ac9-b9b8-c0dd6b1807b3.png)

我检查了一下代码，怀疑是在playwright遇到错误的时候，你们忘记close page导致这个chrome就永远驻留内存了
因为各种机缘巧合，playwright出错就会导致一个驻留，日积月累就会渐渐占满内存

在 builtin/messageChain/element.py 文件里 create_html_image 函数 如果抛出异常，那么page对象就丢失了不会再执行close。

### 复现

[2022-10-21 01:27] vivien8261 commented on #130
更改插件ID可以避免识别为同一个插件，发布插件的话近期在商讨发布方式……如果你有好的建议可以加群635398639

[2022-10-21 01:42] vivien8261 commented on #131
感谢提出，我会验证一下问题后预计下一个版本修复。如果你有兴趣，也可以PR至[core项目](https://github.com/AmiyaBot/Amiya-Bot-core)。

[2022-10-21 01:50] hsyhhssyy commented on #131
其实看了core项目的repo，特别干净，没有issue也没有pr，我还以为你们不用那个repo呢，我还有好几个建议想提一下不知道怎么去提

[2022-10-21 01:51] Strelizia02 commented on #131
羡慕兔兔有这么优质的issueQAQ

[2022-10-21 02:29] hsyhhssyy opened #132 "为User类加入可自定义的meta"
### 功能描述

我在做一个别的功能的时候，遇到了一个问题，我想存储一些user related data，我在v5版本的实现方式是直接修改database里的user对象，但是v6版本你们准备以插件的形式提供功能变更，这个方法就不能用了，我目前是在本地磁盘做了一份持久化（以应对插件沙箱化），但是我觉得这样不优雅也不便维护。

我觉得你们要么提供一个给plugin直接访问数据库存储的能力（不推荐，有危险）
要么得给user对象（以及group对象）加入meta字段，然后提供一个函数来提供插件间相互隔离的持久化数据访问能力。

因为如果插件做的很复杂，需要持久化是很正常的情形，而plugins目录会随着插件更新，不安全，其他目录又不能假定，塞到resource下面又不优雅（"../resources"真的很蠢）。

### 优点

如上所述（

### 实现

我v5版本的做法是给user

[2022-10-21 14:04] hsyhhssyy opened #133 "AttributeError: 'Message' object has no attribute 'bot'"
### 问题描述

在官方开发文档的这个页面里：
https://www.amiyabot.com/develop/basic/messageObject.html
提到Message对象有一个属性bot
但是去看core的代码
![image](https://user-images.githubusercontent.com/5977110/197213694-6cc6a6f1-d08a-445d-8906-48ccf1999b49.png)
Message其实已经没有bot这个属性了
应修改为Instance属性

此外我是在尝试给用户私发消息的时候发现的
https://www.amiyabot.com/develop/basic/activeMessage.html
这份文档里提到
![image](https://user-images.githubusercontent.co

[2022-10-22 13:55] Initial-heart-1 commented on #133
感谢反馈，请注意这不应该作为一个 Bug 提交。您可以通过创建一个空白的 issue 而不是使用模板来提交对文档的建议。具体是否改动需要问 @vivien8261 ，但是因为前述理由，这个 issue 将被关闭。

[2022-10-22 13:55] #133 closed, assigned to nobody

[2022-10-22 13:58] Initial-heart-1 commented on #132
考虑的很周到。建议提交一个 PR，或者等。

[2022-10-22 14:02] Initial-heart-1 commented on #131
温馨提示，下次关于 core 的 issue 建议交到 core

[2022-10-22 14:07] hsyhhssyy commented on #132
那我先把我当前的代码提交一个PR好了

[2022-10-22 14:07] hsyhhssyy commented on #131
是的，我新的几个issue都提交到core了

[2022-10-22 14:08] Initial-heart-1 commented on #132
你应该在 PR 中提到本 issue，这样会在合并时自动关闭它。在它确实解决前不推荐直接关闭。
e.g.

[2022-10-22 15:11] Initial-heart-1 commented on #130
确实还没有。近期上线，届时通知。

[2022-10-22 15:11] #130 closed, assigned to nobody

[2022-10-22 15:19] Initial-heart-1 commented on #131
@vivien8261 Could you please transfer this issue to the core repository because I don't have permission to do this but you do.
![image](https://user-images.githubusercontent.com/63091661/197346879-ebfe0b9c-7c26-4dda-968b-5ec94e4d0fa0.png)

[2022-10-26 08:20] #132 closed, assigned to vivien8261

[2022-10-26 08:22] vivien8261 commented on #125
一般来说……接口请求失败就相当于挂了

[2022-10-26 15:41] Lee0528Hub opened #138 "启动amiya.py提示ModuleNotFoundError:Nomodulenamed'amiyabot.adapters.cqhttp'"
python3 amiya.py提示ModuleNotFoundError:Nomodulenamed'amiyabot.adapters.cqhttp'

环境是Ubuntu20.04、Python3.8.10、最新版兔兔、代码部署。用6.0.0版本的兔兔没问题。新版本兼容go-cqhttp后就一直没启动成功过。
![20221026](https://user-images.githubusercontent.com/110772808/198071797-2977c47d-9e24-43a4-ab47-a1e783412642.png)

[2022-10-28 06:38] vivien8261 commented on #138
pip install --upgrade amiyabot

[2022-10-28 06:38] #138 closed, assigned to nobody

[2022-10-28 06:56] Initial-heart-1 commented on #125
直接请求会得到一个401状态码，upptime只认20x

[2022-10-28 09:04] Lee0528Hub commented on #138
已解决！

[2022-11-01 08:12] rhwong opened #141 "所有的私聊回复会被敌人资料插件接管"
### 问题描述

在Go-Cqhtp接入情况下，私聊信息被敌人资料插件接管，发送任意内容会回复“博士，请说明需要查询的敌方单位名称”

### 复现

私聊发送“ewq”
机器人返回“博士，请说明需要查询的敌方单位名称”

私聊发送“大鲍勃”
机器人返回大鲍勃的资料图片

### Amiya-Bot 版本

不确定，已git clone，重启后应该是自动升级为目前最新版。

### 其他插件版本

明日方舟敌方单位查询 v1.1

### 日志

[code]

### 补充信息

_No response_

[2022-11-01 08:16] rhwong commented on #125
@Initial-heart-1  在uptime中创建监控项时，你可以自定义选择`有效状态码`，默认是200-299

[2022-11-01 08:22] vivien8261 commented on #141
e`w`q……检测到了干员名 W

[2022-11-01 08:31] vivien8261 opened #142 "模板解析问题"
### 问题描述

模板解析阶段会将一些内容为 `<XXX>` 的字符被当做是 html 元素处理掉。需要增加适配逻辑。

### 复现

如题

### Amiya-Bot 版本

以往所有版本

### 其他插件版本

_No response_

### 日志

_No response_

### 补充信息

_No response_

[2022-11-02 05:35] Initial-heart-1 commented on #142
闭合标签的重要性（

[2022-11-03 02:37] #142 closed, assigned to vivien8261

[2022-11-04 07:32] LumiDust opened #149 "能否支持Windows server2012"
### 功能描述

想在服务器上运行，通过gocq的多连接功能，如：我现在连接nonebot2的ws与ff14的ws

### 优点

可以增加可拓展性与适配性

### 实现

我是无知小白只会提ls，磕头orz

[2022-11-04 12:23] Initial-heart-1 commented on #149
你好。
现在常见的 Windows Server 多为 2016 或 2019 甚至 2022。Windows Server 2012 实在是有些老，我们没有进行充分的验证明确 Amiya-Bot 可以在该环境下正常运行，但是同样的，我们也无法证明它无法正常运行，且，我们认为它应会正常工作。
由于这个需求较为罕见，可能需要您自行测试确认 Amiya-Bot 无法在该环境正常运行并提供详细信息。考虑到您的隐私，如果您不想公开发布这些信息，可以发送电子邮件至 support@amiya.cn。邮件中需包含指向该 issue 的链接。
您会有 3d 的回复时间，若过期仍未得到有效恢复，该 issue 会被关闭。

[2022-11-04 12:29] Initial-heart-1 commented on #125
感谢，检查文档发现确有配置。
但请注意，**upptime** 不是 **uptime**，p 双写。

[2022-11-04 12:29] #125 closed, assigned to vivien8261

[2022-11-04 12:31] Initial-heart-1 commented on #125
![image](https://user-images.githubusercontent.com/63091661/199973078-099e5776-3e98-4eb1-a85a-af06d5faebb1.png)
事实上它的文档说只认 0x 而不是 xx。所以我怀疑你说的是否是一个东西。

[2022-11-05 07:46] LumiDust commented on #149
![_QXNWGMF(K _V57B{)XONJF](https://user-images.githubusercontent.com/116658416/200109405-f52214d7-f6bb-4cb6-88ad-5dd4da8cb290.png)
![image](https://user-images.githubusercontent.com/116658416/200109434-4bfd1dad-6c69-4c9a-b6e1-18202cc64d21.png)
在运行这个exe文件后会报错闪退

[2022-11-05 09:08] Initial-heart-1 commented on #149
报错提示您网络不佳。尝试连接代理重试。

------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Date: 2022年11月5日(星期六) 下午3:47
To: ***@***.***&gt;;
Cc: "Initial ***@***.***&gt;; ***@***.***&gt;;
Subject: Re: [AmiyaBot/Amiya-Bot] 能否支持Windows server2012 (Issue #149)

 在运行这个exe文件后会报错闪退

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.

[2022-11-07 01:46] LumiDust commented on #149
![image](https://user-images.githubusercontent.com/116658416/200210048-d2580a06-6671-428b-880a-478e51cd05c9.png)
你好，不好意思现在才回复，这是开了代理后的情况，已经测试过能够访问到github和谷歌

[2022-11-07 09:56] vivien8261 opened #151 "插件卸载时，无法结束插件注册的定时任务"
### 问题描述

如题

### 复现

卸载微博插件

### Amiya-Bot 版本

以往所有版本

### 其他插件版本

_No response_

### 日志

_No response_

### 补充信息

_No response_

[2022-11-07 09:58] vivien8261 commented on #151
emmmm……

[2022-11-08 12:19] ZhaoZuohong commented on #5
可以用 Docker

[2022-11-08 14:40] ZhaoZuohong opened #152 "`amiyabot==1.1.20` 与 Amiya-Bot V6-master 不兼容"
### 问题描述

发送指令（如“兔兔”）时报错

### 复现

环境：Ubuntu 20.04
1. 按照 <https://www.amiyabot.com/guide/deploy/getStarted.html> 的步骤部署 Amiya-Bot；
2. 安装商店中的“兔兔互动”插件；
3. 群内发送指令（如“兔兔”）

### Amiya-Bot 版本

`bd50e97ae32b12dfbabac08977f2716fdfdcb7e6`

### 其他插件版本

兔兔互动 1.1

### 日志

[code]

### 补充信息

使用 `amiyabot==1.1.19` 正常，更新到 `1.1.20` 后有此问题，回退到 `1.1.19` 正常。

[2022-11-08 15:02] ZhaoZuohong opened #153 "[求助]“兔兔互动”插件：签到响应时间"
简述：“兔兔签到”与“兔兔查看我的信息”响应慢（~50s）

VPS 配置：单核 1G 内存
ping 延迟平均 155ms
数据库为默认的 SQLite

观察到以下现象：
- 使用“兔兔互动”插件时，“兔兔”命令的响应时间 <2s
- 使用“兔兔查看敌人扎罗”，响应时间 <3s
- 使用“兔兔签到”命令，响应时间 约为 50s
- “兔兔签到”命令响应前，未发现内存、CPU 与 Disk I/O 的使用率有明显上升

请问签到的响应时间是正常现象吗？有缩短的办法吗？应该从哪些方面进行排查呢？

[2022-11-08 15:44] ZhaoZuohong opened #154 "掉落数据：OF-F4 理智错误"
### 问题描述

明日方舟材料物品查询插件，对于轻锰矿的数据处理有误，OF-F4 关卡的理智消耗为 18，机器人提供的数据为 -1

### 复现

安装明日方舟材料物品查询插件，查询轻锰矿

### Amiya-Bot 版本

`bd50e97ae32b12dfbabac08977f2716fdfdcb7e6`

### 其他插件版本

明日方舟材料物品查询 1.1

### 日志

[code]

### 补充信息

无

[2022-11-09 00:51] ZhaoZuohong opened #155 "干员专精材料：图片不完整"
### 问题描述

![-8fe81dba239b8f2](https://user-images.githubusercontent.com/34163622/200708869-5968dc4f-582b-4d4c-9148-46d0d94129f3.png)

### 复现

![Screenshot_20221109-084617-312](https://user-images.githubusercontent.com/34163622/200708622-fbd0de2c-51ad-4f29-bffb-14a211e2288d.png)

### Amiya-Bot 版本

`bd50e97ae32b12dfbabac08977f2716fdfdcb7e6`

### 其他插件版本

明日方舟干员资料 1.8

### 日志

_No response_

### 补充信息

[2022-11-09 01:03] ZhaoZuohong opened #156 "展示敌人技能与天赋数据"
### 功能描述

敌人缺少天赋和技能数据，希望添加

### 优点

了解敌人的技能比较重要

### 实现

_No response_

[2022-11-09 01:10] ZhaoZuohong opened #157 "适应手机的图片比例与尺寸"
### 功能描述

生成适合手机查看的图片（宽度更小），增大图片尺寸（使字体更清晰）

### 优点

在手机上有更佳的阅读体验

### 实现

如果图片以浏览器截图的方式生成，可以在调用 playwright 时指定设备或页面的缩放和尺寸：

<https://playwright.dev/python/docs/api/class-browser#browser-new-page>

- `viewport` 可以修改分辨率
- `device_scale_factor` 可以修改缩放

例如 iPhone 的分辨率为 390x844，缩放为 3

这样得到的图片更清晰，放大后字不会模糊，而且图片体积不会很大。

[2022-11-09 01:32] vivien8261 commented on #152
1.1.20 依赖是昨晚的更新，今天才能适配到这个仓库。

[2022-11-09 01:32] #152 closed, assigned to nobody

[2022-11-09 01:33] vivien8261 commented on #153
请提高你的服务器配置

[2022-11-09 01:33] #153 closed, assigned to nobody

[2022-11-09 01:34] vivien8261 commented on #155
请提高你的服务器配置。或使用启动参数延长渲染时间。

[code]

[2022-11-09 01:34] #155 closed, assigned to nobody

[2022-11-09 01:35] vivien8261 commented on #154
这部分是企鹅物流的数据，仅供参考。

[2022-11-09 01:35] #154 closed, assigned to nobody

[2022-11-09 01:44] ZhaoZuohong commented on #154
企鹅物流网页的数据是正确的

[2022-11-09 01:44] vivien8261 commented on #157
不同的分辨率意味着需要不同的 `设计图`，尚未有任何小组成员能够大量修改现有的设计。如你有余力，可以自行修改。

分辨率修改可以参考启动参数：https://www.amiyabot.com/develop/advanced/startupParameter.html

[2022-11-09 01:44] #157 closed, assigned to nobody

[2022-11-09 01:44] vivien8261 commented on #156
我们需要一个能整理和翻译`大量敌人技能信息`的人员参与到我们的项目。

[2022-11-09 01:48] ZhaoZuohong commented on #155
加了启动参数后没有问题了，非常感谢！

[2022-11-09 01:53] vivien8261 commented on #154
OF-F4 在游戏数据里理智消耗就是 -1，不要去想YJ是怎么改为 18 的

![image](https://user-images.githubusercontent.com/34387011/200717194-c3bc38bf-4040-48c7-b511-f95a524dd163.png)

[2022-11-09 03:33] yorisona commented on #5
有docker部署的文档嘛

[2022-11-09 03:47] ZhaoZuohong commented on #5
1. 安装 Docker：<https://docs.docker.com/engine/install/centos/>
2. 国内服务器可能要换源之类的
3. `docker run -it --network=host --name=amiyabot ubuntu:focal` 运行 Docker 容器
4. 在容器中 `apt update && apt install git python3-pip`
5. `cd / && git clone https://github.com/AmiyaBot/Amiya-Bot && cd Amiya-Bot`
6. 可以装个 `nano` 或者 `vim` 之类的，改一下 `requirements.txt`，把 `amiyabot` 改成 `amiyabot==1.1.19`
7. 也可以顺便改一下服务器的配置（`config/ser

[2022-11-09 03:52] yorisona commented on #5
emmm我是说docker部署amiya的文档,我的服务器上有docker了(

[2022-11-09 03:53] yorisona commented on #5
emmm我是说docker部署amiya的文档,我的服务器上有docker了(

[2022-11-09 03:54] ZhaoZuohong commented on #5
我写的不是用 Docker 部署 amiya 的步骤吗？

[2022-11-09 09:25] yorisona commented on #5
佬我已经用docker安装好了,关于这个添加实例不是很清楚,如果我想把机器人拉倒qq群使用的话,是需要安装mirai-api-http吗

[2022-11-09 09:31] ZhaoZuohong commented on #5
@yorisona 是的，mirai-api-http 或者 go-cqhttp 都行，接下来和 docker 关系不大了，你照着 amiya-bot 的文档弄吧

[2022-11-10 01:40] yorisona commented on #5
佬我配置好了go-cqhttp的实例,在插件商店安装插件时候报错如下:
2022-11-10 09:35:14,342BotERRORplugin install error: Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/amiyabot/log/manager.py", line 116, in sync_catch
    yield
  File "/usr/local/lib/python3.8/dist-packages/amiyabot/handler/__init__.py", line 274, in install_plugin
    module = importlib.import_module(os.path.basename(dest))

[2022-11-10 08:29] ZhaoZuohong commented on #152
Amiya-Bot 更新到 `commit 9de2f637bdd9a6ec12372c1873cd019bb02677d0` 后，使用 `amiyabot==1.1.20` 仍有此问题。

[2022-11-10 08:32] vivien8261 commented on #152
清空所有插件重新安装

[2022-11-10 11:59] Initial-heart-1 commented on #149
确定您的 Git 正确配置后重试。

[2022-11-10 11:59] #149 closed, assigned to nobody

[2022-11-10 11:59] Initial-heart-1 commented on #149
如未解决请 Reopen 这个 issue。

[2022-11-10 12:02] Initial-heart-1 commented on #153
推荐的服务器配置（以腾讯云为基准）：2H4G 及以上，带宽用户少时不低于 5Mbps，多时建议选用轻量应用服务器否则服务器费用可能过于高昂。

[2022-11-10 12:05] Initial-heart-1 commented on #154
或可提供一新的提交系统，类似于企鹅物流。不过真有这个必要？

[2022-11-10 12:08] Initial-heart-1 commented on #155
是时候在手册里加上一句了：遇到渲染问题时，请在**你使用的设备**上尝试重现，而不是在**生产环境的服务器**上！

[2022-11-10 12:10] Initial-heart-1 commented on #156
或许不是一个，或许不是我们的项目。
开坑！（

[2022-11-10 12:11] Initial-heart-1 commented on #151
@vivien8261 解决了么，记得写在log里了

[2022-11-10 13:19] ZhaoZuohong commented on #153
感谢推荐，我现在改用了双核 4G 内存的服务器，签到可以在 3 秒左右完成了。

[2022-11-10 14:23] #151 closed, assigned to vivien8261

[2022-11-11 08:50] Initial-heart-1 commented on #153
考虑你反馈的时间，主要原因可能是内存不足。请知悉 AmiyaBot 被设计为大量使用 Chromium 来渲染页面以降低开发难度并使 UI 更美观。评估认为这需要至少 2G 的空闲内存才能确保正常工作。推荐你使用 go-cqhttp 以避免内存不足引发 OOM。

[2022-11-12 16:28] Initial-heart-1 opened #159 "【优化建议】改变现有的定期维护逻辑"
### 建议

很多用户，包括我，均遇到过这样一件邪门事儿：一切看起来都正常，也没有报错，但自动维护莫名其妙就挂了，导致各种数据没有及时刷新。
受限于个人水平，我认为这种错误是较难排查并解决的。那么，直接换个逻辑好了。
提供一个 HTTP API 用于进行维护，这个 API 被访问则立刻执行一次维护。这样便可以用系统的定时任务甚至是第三方的定时任务来确保维护按预期工作。
当然，这个 API 最好提供鉴权，否则意外的被滥用就惨了。建议提供 GET 或 POST 可选的鉴权方式，甚至是 IP 黑白名单，方便灵活应用。

[2022-11-12 16:30] Initial-heart-1 commented on #159
对于IP 黑白名单，个人觉得十分必要，因为如果运用的好可以直接杜绝滥用。例如我只给 127.0.0.1 加白名单。

[2022-11-15 06:51] vivien8261 commented on #159
计划是取消自动维护，改为在用户表中添加一个字段，记录日期，当使用“兔兔签到”时，判断日期是否是当天，不是就成功签到并更新记录为当天。

[2022-11-21 21:43] hsyhhssyy opened #161 "一个关于实例IP变化导致的bug"
### 问题描述

我不确定bug在哪儿，在深入检查代码之前，先报到这里。
具体经过是，我的服务器在重启之后，mcl docker的ip发生了变化，导致原来的mcl无法连接。

1、我点击实例的编辑，修改ip以后，他不会自动刷新连接，必须要我做点什么
2、我点击关闭再点击打开来让他重连。
然后他就会不停的报错：
![image](https://user-images.githubusercontent.com/5977110/203163729-ca3a8de8-d167-4eee-adf9-382e5b344f9a.png)

但是，此时bot的功能是正常的。

这个错误会持续报告数十分钟，我怀疑会一直报告下去。
后面我重启了bot，就不再出错了。

### 复现

如上

### Amiya-Bot 版本

6.0.0

### 其他插件版本

_No response_

###

[2022-11-22 06:37] Initial-heart-1 commented on #161
如果可能，下次请将 issue 写的更明白些。
一开始我的简单看了一下，得到的信息是您实例 IP 变动，无法按原配置连接到实例，故准备关闭 issue。
仔细查看后，发现您似乎在说因为 **在未断开连接时直接修改了实例的网际协议地址导致在重启 AmiyaBot 前无法正常连接到实例**。
下次或许可以略去 **为什么我这么做**，除非确实需要它才能准确说明。
另外，这个 issue 或许应该在 core 仓库提出。
@vivien8261 或许应该转移 issue。

[2022-11-22 10:43] hsyhhssyy commented on #161
其实你理解的还不对，我之所以说这么多就是因为我很难准确描述这个错误。
我的错误其实是 **bot重启后，已无法连接某个实例，此时修改该实例的配置，会导致意外的持续报错，但是功能正常**

[2022-11-22 10:55] vivien8261 commented on #161
这个问题应该是可以复现的，根源代码应该是在 V6-dev 分支下 core/server/bot.py 第 80 行和第 103 行。由于 console 服务在修改配置时启动了新的实例却没有关闭同 appid 的另一个实例导致。

[2022-11-22 14:08] hsyhhssyy opened #162 "加载了不存在的插件"
### 问题描述

我在bot启动的时候发现一个奇怪的日志，他尝试加载了一个旧版本的插件

![image](https://user-images.githubusercontent.com/5977110/203334140-dd810fe1-b243-4ed2-8133-cf32dff20044.png)

我一开始以为是我插件目录里有错误的文件，但是我打开插件目录一看：

![image](https://user-images.githubusercontent.com/5977110/203334416-419915b6-0947-4452-85e1-bd4eec27a97f.png)

根本没有旧版的插件
具体原因我还需要跟进一下，但是我90%确定这是bot的bug，我先报到这里，然后看一下是啥问题，看看我能不能自己解决。

### 复现

如上

### Amiya-Bot

[2022-11-22 14:27] hsyhhssyy commented on #162
哈哈哈哈我发现bug在哪儿了

我不小心把插件包打包进了插件包，结构如下图所示：
![image](https://user-images.githubusercontent.com/5977110/203338742-e1e3255e-a719-446b-8418-286bf6f6ca3e.png)
如上图，在zip里还有一个zip

结果，实际在plugins目录下的内容是：
![image](https://user-images.githubusercontent.com/5977110/203338986-498018f9-2875-4a30-9172-e11bfffdbdce.png)

他在目录里还有一个目录

也就是说，bot安装插件的时候， **把插件包内的每个zip也进行了解压缩** ，这是有可能有问题的，也许某个插件作者会在里面放一个zip类型的资源，然后意外就给他解

[2022-11-22 15:05] hsyhhssyy commented on #162
提交了一个pr
os.walk会进入子目录，因此在第一次循环就跳出，保证他一定是只查看根目录。

[2022-11-22 15:18] #162 closed, assigned to nobody

[2022-11-23 07:37] vivien8261 commented on #161
已确定原因是 core 内的一个 bug 导致。[已修复](https://github.com/AmiyaBot/Amiya-Bot-core/commit/95a39f1d93f708712fb9d17dfe784d74521e3e3d)

[2022-11-23 07:37] #161 closed, assigned to vivien8261

[2022-11-24 10:06] Initial-heart-1 commented on #161
现在你不是成功的准确描述了故障么？真诚的推荐您不要急着发 issue，或许可以让它变得更易读后再发出来（

[2022-11-24 16:14] hsyhhssyy commented on #161
其实这里还是有歧义的，应该改为bot启动时，如果不能连接某个实例，此时修改该实例的配置，会导致持续报错。
但是我觉得，前因后果都描述清楚，有助于定位错误的原因。
目前这个错误比较简单，但是对于比较复杂的错误，可能会出现需要复现场景，或者从操作流程上找原因的情况。
我之所以能总结出这个问题，是因为我对代码有个大概的了解，如果对代码不甚了解，可能不一定能总结出问题，并且意识到原因。

比如，这里我的描述中，我还隐含提到了一个事情，就是修改配置的时候，我没有观察到实例的启动。我是通过关闭再打开，尝试触发启动。
我现在仍然不知道，修改实例配置并保存后，是否会触发一个实例重启。

[2022-11-25 07:06] Initial-heart-1 commented on #161
我个人认为，如果可能，给予尽可能简明的、易读的信息比详细的信息更为重要。需要的更为详细的信息可以通过询问得到，而简明易读的信息则能帮助开发者最快的了解问题可能出在哪里，以及是否有价值。

[2022-11-25 07:09] Initial-heart-1 commented on #161
只要不答非所问，进一步的询问是完全可以接受的，也是必要且几乎一定会发生的。故可能不需要在打开 issue 时提供极为详细的信息，这往往并不会给排障带来帮助。

[2022-11-25 22:10] Initial-heart-1 opened #168 "插件管理卸载插件时允许保留配置文件"
### 功能描述

同标题，十分简单，我认为不需要更多的描述。

### 优点

这可以避免在某些时候需要重装插件时丢失配置。

### 实现

1.简易、兼容性好的方案
检查插件目录下所有 yaml 文件，如果选择保留配置则保留这些文件。这要求开发者将 yaml 配置作为规范并遵守。
2.更安全、更准确但可能具有破坏性的方案
要求插件提供配置文件(目录)，保留插件声明的这个文件(目录)。
3.较为平衡的方案
可以综合以上两点，当声明存在时给出保留选项，而不存在时不给出这个选项。当然，可以给出一个”开发者模式“或者类似的东西，在"开发者模式"下卸载插件使用方案 1 处理配置。

[2022-11-26 01:54] vivien8261 commented on #168
插件的配置文件和不可再生的资源文件应该另存，在安装时判断是否存在然后创建或者读取，在卸载时不对另存的文件做操作。

实现的目的是减少相同配置文件的重复填写（比如百度云），第二个是在更新插件时，不会丢失之前的信息。